.clima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ant-select{
    width: 400px;
    border-color: #92E0CD;
    transition: all 0.3s ease;

}

.informações{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card_clima {
  background: #f0f9f7;
  border: 2px solid #92e0cd;
  border-radius: 12px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 1px 4px 5px;
}

.informações p{
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.grafico{
    width: 75%;
    margin: 20px;
    border: 2px black solid;
    border-radius: 12px;
    box-shadow: 1px 4px 5px;
}

@media screen and (max-width: 450px){
    .ant-select{
        width: 300px;
    }

    .grafico{
        width: 95%;
        margin: 0;
    }

    .card_clima{
        width: auto;
        margin: 20px 0;
    }

    .informações p{
        margin: 5px;
        display: block;
        text-align: center;
    }

    .informações p img{
        width: 25px;
    }
}