.ant-card{
    width: 350px;
    margin: 5px;
    border-width: 4px;
    border-color: #92A8E0;
    cursor: pointer;
}

.ant-card-body{
    display: flex;
    align-items: center;
    justify-content: start;
}

.profile{
    margin: 0 5px 0 -15px;
}

@media screen and (max-width: 450px){
    .ant-card{
        width: 320px;
    }
}