.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

.ant-input{
    width: 300px;
    border-color: #92E0CD;
}

.list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ant-pagination{
    margin: 30px;
}

.ant-pagination-item:hover{
    border-color: aqua;
}

@media screen and (max-width: 450px ) {
    .search{
        margin: 5px;
    }
    
    .ant-input{
        width: 250px;
    }

    .list{
        padding: 5px;
    }
}