.menu_desktop{
    font-weight: bold;
    background-color: #97F1F5;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #97F1F5;
    align-items: end;
}

.menu_mobile{
    display: none;
}

.logo{
    margin: 10px;
    object-fit: contain;
}

@media screen and (max-width: 450px){
    .menu_desktop{
        display: none;
    }

    .menu_mobile{
        display: block;
    }

    header{
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
    }
}